@model IEnumerable<Reserva_de_equipos.Models.Conductor>

@{
    ViewData["Title"] = "ReQ GoSoft | Conductores";
}

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<h2 class="fw-lighter mb-lg-3 pb-1 h2">
    Administrar
    <strong class="fw-semibold">Conductores</strong>
</h2>

<div class="row justify-content-between pb-4">
    <div class="col-auto">
        <button class="btn btn-primary my-2 d-flex align-items-center gap-2"
                data-bs-toggle="modal" data-bs-target="#crearConductorModal">
            <iconify-icon icon="zondicons:add-solid"></iconify-icon>
            <span>Crear nuevo conductor</span>
        </button>
    </div>
</div>

<div class="table-responsive">
    <table id="Conductores" class="table table-hover w-100">
        <thead>
            <tr>
                <th>Disponible</th>
                <th>Nombre</th>
                <th>Segundo nombre</th>
                <th>Apellido paterno</th>
                <th>Apellido materno</th>
                <th style="width:160px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Disponible)</td>
                    <td>@item.Nombre</td>
                    <td>@item.SegundoNombre</td>
                    <td>@item.ApellidoPaterno</td>
                    <td>@item.ApellidoMaterno</td>
                    <td class="text-nowrap">
                        <div class="d-flex justify-content-evenly">
                            <button type="button"
                                    class="btn btn-warning"
                                    data-bs-toggle="modal"
                                    data-bs-target="#editConductorModal-@item.ConductorId">
                                <iconify-icon icon="ri:edit-fill"></iconify-icon>
                                <span>Editar</span>
                            </button>

                            <form asp-controller="Conductores" asp-action="Delete" asp-route-id="@item.ConductorId"
                                  method="post" onclick="return confirm('¿Realmente desea borrar?');">
                                @Html.AntiForgeryToken()
                                <button class="btn btn-danger">
                                    <iconify-icon icon="material-symbols:delete"></iconify-icon>
                                    <span>Borrar</span>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@await Html.PartialAsync("_CreateConductor", new Reserva_de_equipos.Models.Conductor())

@foreach (var item in Model)
{
    @await Html.PartialAsync("_EditConductor", item)
}

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new DataTable('#Conductores', {
                pageLength: 5,
                lengthMenu: [5, 10, 15, 20, 50],
                responsive: true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.3.4/i18n/es-ES.json',
                },
            });
        });
    </script>
}
